# Compiled python
*.pyc
.pytest_cache
*.egg-info
build
dist
__pycache__

# Visual Studio
.vs
*.pyproj
*.pyproj.user
*.sln

# Visual Studio Code
*.code-workspace

# Pycharm
.idea/
.libs/

# Debug files
/debug

# Builds
/charm.build/
/charm.onefile-build/
/charm.dist/
/charm.exe
/charm.dist.zip
/imgui.ini
/charm/debug.py

